:root {
  --accent1-color: #264653;
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  background-color: darkblue;
  padding: 1rem;
  justify-content: space-evenly;
  color: white;
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.918);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
