
:root {
  --accent1-color: #264653;
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  font-family: var(--body-font);
  color: var(--accent1-color);
}

h1 {
  text-align: center;
  margin-top: 20px;
}


header {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  background-color: darkblue;
  padding: 1rem;
  justify-content: space-evenly;
}

 nav ul{
  margin-top: 50px;
  display: flex;
  list-style: none;
  
} 

nav ul a{
  margin: 10px;
  color: white;
}

.paragraph {
  text-align: center;
  margin-bottom: 20px;
}

.label label{
  margin-left: 550px;  
  margin-bottom: 20px;
} 

.label input{
  margin-left: 20px ; 
  margin-top: -30px;
  margin: 10px;
  height: 50px;
  width: 300px;
}


.purpose input{
  margin-left:650px ;
} 

.purpose p{
  margin-left: 550px; 
} 

.purpose label{
  margin-left: 650px;
}

.message label{
  margin-left: 550px;
  margin-top: 70px;
}

.message textarea {
  margin-left: 650px;
  width: 300px;
  height: 100px;
}

.newsletter{
  margin-left: 550px;
  margin-bottom: 10px;
}

button{
  margin-left: 650px;
  width: 300px;
  height: 40px;
  color: white;
  background-color: blue;
}

.frame {
 margin-top: -450px; 
}


figure {
  display: inline-block;
  margin: 60px;
}

h2 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: -70px; 
}

figure img {
  display: block;
  width: 70%;
  height: 90px;
  margin: 50px;
  object-fit: cover;
}
 
figcaption {
  text-align: center;
  order: 1;
}


.socialmedia a {
  text-decoration: none;
}

.socialmedia img {
  width: 40px;
}


footer {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


