:root {
  --accent1-color: #264653;
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
  max-width: 700px;
  margin: 20px auto;
  padding: 0;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header, main {
  margin: 0;
  padding: 20px;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--accent1-color);
  background-color: #f7a1eb;
}

nav, p {
  margin: 20px;
  padding: 10px;
  text-align: left;
  box-sizing: border-box;
}

nav ul {
  background-color: #f7a1eb;
  padding: 10px;
}

nav ul a {
  margin: 20px;
}

section, h1, h2 {
  text-align: center;
  margin-top: 20px;
  
}

.socialmedia a {
  text-decoration: none;
}

.socialmedia img {
  width: 30px;
}

.hero {
  position: relative;
  padding: 0;
  margin: 0;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff;
}

.hero article {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: rgba(247, 161, 235, 0.7);
  padding: 10px;
  display: flex;
  align-items: center;
}

.hero article img {
  width: 125px;
  margin-right: 10px;
  float: right;
}

footer {
  padding: 10px 20px 10px 20px;
  text-align: center;
  border-top: 1px solid #000;
}

footer p {
  margin: 0;
}

.socialmedia {
  margin: 10px 0 0 0;
}