:root {
    --accent1-color: #264653;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main{
    max-width: 800px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: #f7a1eb;
}

nav, p{
    margin: 20px;
    padding: 10px;
    text-align: left;
    box-sizing: border-box;
    
}
nav ul a{
    background-color: #f7a1eb;
    margin: 20px;

}

section, h1, h2 {
    text-align: center;
}

.socialmedia a {
    text-decoration: none;
}
.socialmedia img {
    width: 30px;
}

.hero {
    position: relative
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff; 
}

.hero article img {
    float: left;
    width: 125px;
    margin: 1rem;

}
.hero article p {
    margin: 1rem;
    padding: 10px;
    background-color: #f7a1eb;
}

footer {
    margin-top: 30px;
    border-top: 1px solid #000;
}