:root {
  --accent1-color: #264653;
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  background-color: darkblue;
  padding: 2rem;
  justify-content: space-evenly;
}
nav ul a{
  margin: 10px;
  color: white;
}
h1{
    background-color: grey;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    width:600px;
}
.grid-item {
    text-align: center;
}
.grid-item img {
  width: 100%;
}

h2,h3 {
    text-align: center;
    margin: 0;
    background-color: blue;
    width: 100%;
    color: white;
    padding: 1rem;
    margin-top: 50px;

}
button{
    padding: 20px;
    width: 200px;
    background-color: blue;
    color: white;
}

.socialmedia img {
  width: 40px;
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.918);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
