*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 500px;
    margin: 0 auto;
}

form {
    background-color: rgb(246, 223, 233);
    padding: 1rem;
    margin: 1rem 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
 
h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input, textarea, button, select {
    width: 400px;
    margin-bottom: 1.5rem;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: rgb(82, 68, 233);
    color: rgb(243, 241, 243);
    padding: 1rem;
    border: dashed 2px rgb(66, 66, 228);
    border-radius: 10px;
}