

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

nav {
    background-color: darkblue;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1 {
    color: darkblue;
}

h2 {
    position: absolute;
    bottom: 158px;
    left: 160px;
    font-size: 1.5rem;
    font-weight: bold;
}

img {
    width: 105px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main {
    margin: 1rem;
    grid-column: 2/3;
}

aside {
    width: 30rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0/ 0.2);
    padding: 2rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 85px;
    height: auto;
    border: 2px solid rgb(239, 185, 239);
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    float: right;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    background-color: #f7a1eb;
}

header, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}
