* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    background-color: darkblue;
    padding: 10px;
    
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1 {
    color: darkblue;
}    

h2 {
    position: absolute;
    top: 20px;
    left: 150px
}


img {
    width: 105px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}
main {
    max-width:400px;
    margin: 15px;
}

aside {
    width: 30rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0/ 0.2);
    padding: 2rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

aside img{
    width: 200px;
    height: auto;
}
main img{
    width: 75px;
    height: auto;
    border: 2px solid rgb(239, 185, 239); 
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    float: right;
}

p{padding: 0;}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
/* insert the  */
.box {
    margin: 1rem;
    padding: 1rem;
    background-color: #f7a1eb

}